.CreatePage {
  height: 100vh;
  margin-top: 5vh;
  text-align: center;
  /* margin-left: 5vh; */
}

.searchContainer{
  display: flex;
  justify-content: center;
}

.CreateContainer {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
  gap: 20px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search input {
  width: 80%;
  height: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0px 10px;
}

.search button {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0px 10px;
  margin-left: 10px;
}

.CreateContainer h1 {
  margin: 0px;
}

.CreateContainer input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0px 10px;
}

.book {
  background-color: white;
  display: flex;
  height: 300px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.authors {
  color: #555;
  margin-right: 10px;
}

.description {
  margin-top: 8px;
}

img {
  max-width: 100px;
  margin-right: 10px;
}

.cardList{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow-y: scroll;
}
