/**********************************************************************\
*                                                                      *
*                                header                                *
*                                                                      *
\**********************************************************************/

.header {
  background-color: rgb(51, 138, 197);
}

.header h1 {
  color: white;
  margin: 0%;
  padding: 10px;
  font-size: 40px;
}
